<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crawlersick.ovpnfetcher" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/key"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.crawlersick.ovpnfetcher.MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.crawlersick.ovpnfetcher.MyIntentService"
            android:icon="@drawable/nagato"
            android:enabled="true"
            android:exported="true"
            android:label="@string/service_fetch" >
        </service>


        <receiver android:name="com.crawlersick.ovpnfetcher.MyActivity$msgReceiver"
            android:enabled="true"
            android:exported="true"
            >
        </receiver>


    </application>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>


</manifest>

